@page
@model MyRazorPage.Pages.Product.DetailModel
@{
    Layout = "_Layout1";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div id="content-detail">
    <div id="content-title">
        <a asp-page="/index">Home ></a>
        <a asp-page="/index">Category @Model.Product.CategoryId</a> >
        Model: @Model.Product.ProductName
    </div>
    <div id="product">
        <div id="product-name">
            <h2>@Model.Product.ProductName</h2>
            <div id="product-detail">
                <div id="product-detail-left">
                    <div id="product-img">
                        <img alt="null" src="~/img/@Model.MainImage" />
                    </div>
                    <div id="product-img-items">
                        @if (Model.imageSplit != null)
                        {
                            @foreach (var item in Model.imageSplit)
                            {
                                <div>
                                    <img src="~/img/@item" alt="null" />
                                </div>
                            }
                        }
                    </div>
                </div>
                <div id="product-detail-right">
                    <div id="product-detail-right-content">
                        <div id="product-price">@Model.Product.UnitPrice</div>
                        @if (Model.Product.UnitsInStock == 0)
                        {
                            <div id="product-status">Out of stock</div>
                        }
                        else
                        {
                            <div id="product-status">In stock</div>
                        }

                        <div id="product-detail-buttons">
                            <div id="product-detail-button">
                                <input type="button" value="BUY NOW">
                                <a asp-page="/account/cart" asp-page-handler="AddToCartHandle" asp-route-pid="@Model.Product.ProductId" class="btn btn-info"
                                   style="background-color: #fff;
                                    color:red;border: 1px solid gray; width: 300px; height:39px;">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="info-detail">
        <div id="info-detail-title">
            <h2>Information deltail</h2>
            <div style="margin:10px auto;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, debitis. Asperiores soluta eveniet eos accusantium doloremque cum suscipit ducimus enim at sapiente mollitia consequuntur dicta quaerat, sunt voluptates autem. Quam!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem illum autem veritatis maxime corporis quod quibusdam nostrum eaque laborum numquam quos unde eveniet aut, exercitationem voluptatum veniam fugiat, debitis esse?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eligendi ratione vitae nobis numquam dolorum assumenda saepe enim cumque blanditiis, deleniti neque voluptate vel ducimus in omnis harum aut nisi.
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var imgWrap = document.getElementById("product-img");
    var listDivImg = document.querySelectorAll("#product-img-items div");
    let currentIndex = 0

    setCurrent(currentIndex)

    function setCurrent(index) {
        currentIndex = index
        imgWrap.src = listDivImg[currentIndex].querySelector('img').src

        // remove all active img
        listDivImg.forEach((item) => {
            item.classList.remove('active')
        })

        // set active
        listDivImg[currentIndex].classList.add('active')
    }

    listDivImg.forEach((img, index) => {
        img.addEventListener('click', (e) => {
            setCurrent(index)
        })
    })




</script>
